/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
:root {
  --color-cyan-blue: #007fff;

  --color-tealish-blue: #697c9a;
  --color-blue-geans: #60abff;
  --color-dull-blue: #4b6a9b;
  --color-gunmetal: #2b3442;
  --color-dark: #222731;
  --color-zircon: #f6f8ff;
  --color-romance: #fefefe;
  --color-white: #ffffff;
  /* Dark mode color */
  --color-mirage: #141d2f;
  --color-blue-zodiac: #1e2a47;

  --color-red: #f74646;

  --bg-color-white: var(--color-zircon);
  --bg-color-romance: var(--color-romance);
  --text-color-dark: var(--color-dark);
  --text-color-light: var(--color-tealish-blue);
  --text-input-placeholder: var(--color-gunmetal);
  --user-data-bg-color: var(--bg-color-white);

  --color-user-id: var(--color-cyan-blue);
  --error-msg: var(--color-red);
  --search-btn-bc: var(--color-cyan-blue);
  --search-btn-bc-hover: var(--color-blue-geans);
  --search-btn-color: var(--color-romance);
}
.dark-theme {
  --bg-color-white: var(--color-mirage);
  --bg-color-romance: var(--color-blue-zodiac);
  --text-color-dark: var(--color-white);
  --text-color-light: var(--color-romance);
  --text-input-placeholder: var(--color-white);
  --user-data-bg-color: var(--color-mirage);
}
html {
  font-family: "Space Mono", monospace;
  width: 100vw;
  height: 100vh;
  align-content: center;
}
body {
  background-color: var(--bg-color-white);
}
main {
  padding: 1rem;
}
.page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color-dark);
}
.toggleThemeBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  border: none;
  color: var(--text-color-light);
}

.toggleThemeBtn:hover {
  cursor: pointer;
  color: var(--text-color-dark);
}
.title {
  font-size: 26px;
  line-height: 1.5;
  font-weight: bold;
}
#search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0px 3px 33px -18px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 33px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 33px -18px rgba(0, 0, 0, 0.75);
  background-color: var(--bg-color-romance);
}
#search-bar > input {
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  color: var(--text-input-placeholder);
  background-color: inherit;
}
#search-bar > input::placeholder {
  color: var(--text-input-placeholder);
}
.user-not-found-msg {
  color: var(--error-msg);
}
.search-icon {
}
.search-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: var(--search-btn-bc);
  color: var(--search-btn-color);
}
.search-btn:hover {
  background-color: var(--search-btn-bc-hover);
}

#search-bar:hover,
.search-btn:hover {
  cursor: pointer;
}
.user-container {
  background-color: var(--bg-color-romance);
  border-radius: 8px;
}

.desktop-avatar-img {
  display: none;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.mobile-avatar-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.user-profile {
  align-items: center;
}
.user-data {
  padding: 15px 32px;
  background-color: var(--user-data-bg-color);
  border-radius: 8px;
}
.username {
  font-size: 22px;
  line-height: 1.5;
  font-weight: bold;
  color: var(--text-color-dark);
}
.user-id {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-user-id);
}
.join-time {
  color: var(--text-color-light);
}
.user-bio {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-light);
}
.user-data {
}

:is(
    .repos > span:first-child,
    .followers > span:first-child,
    .following > span:first-child
  ) {
  color: var(--text-color-light);
}
:is(
    .repos > span:last-child,
    .followers > span:last-child,
    .following > span:last-child
  ) {
  font-weight: bold;
  font-size: 22px;
  color: var(--text-color-dark);
}
.user-social a {
  text-decoration: none;
  color: var(--text-color-light);
}
.user-social a:hover {
  text-decoration: underline;
}
.user-social div a:has(.notFound) {
  opacity: 0.6;
}
.user-social a > img {
  width: 16px;
  height: 16px;
}
.loading-container {
  justify-content: center;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid wheat;
  border-top: 5px solid red;
  animation: spinner 1s linear infinite;
}

[data-stack] {
  --gutter: initial;
  display: grid;
  gap: var(--gutter, 0px);
  align-content: start;
}
[data-split] {
  --gutter: initial;
  display: grid;
  gap: var(--gutter, 0px);
}
[data-split~="fraction:1"] {
  grid-template-columns: 1fr;
}
[data-split~="fraction:1/1/1"] {
  grid-template-columns: 1fr 1fr 1fr;
}
[data-split~="fraction:1/1"] {
  grid-template-columns: 1fr 1fr;
}
[data-split~="fraction:auto/1"] {
  grid-template-columns: auto 1fr;
}
[data-inline] {
  --gutter: initial;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gutter, 0px);
}

[data-center] {
  margin-inline-start: auto;
  margin-inline-end: auto;
}
[data-center~="center-children"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .user-container {
    padding: 32px 24px;
  }
  .user-social {
    grid-template-columns: 1fr;
    --gutter: 1rem;
  }
  :is(
      .repos > span:last-child,
      .followers > span:last-child,
      .following > span:last-child
    ) {
    text-align: center;
  }
  :is(
      .repos > span:last-child,
      .followers > span:last-child,
      .following > span:last-child
    ) {
    text-align: center;
  }
  :is(
      .repos > span:first-child,
      .followers > span:first-child,
      .following > span:first-child
    ) {
    text-align: center;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .user-container {
    padding: 40px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    width: 900px;
  }
  .loading-container {
    grid-column: 1/3;
  }
  .user-container {
    padding: 48px;
  }
  .desktop-avatar-img {
    display: block;
    grid-column: 1/2;
  }
  .mobile-avatar-img {
    display: none;
  }
  .user-profile {
    grid-template-columns: 1fr;
  }
  .user-profile > div {
    grid-template-columns: 1fr 1fr;
  }
  .join-time {
    justify-self: flex-end;
    color: var(--text-color-light);
  }
  .user-container {
    grid-template-columns: auto 1fr;
  }
  .user-descriptions {
    grid-column: 2/3;
  }
  .user-social {
    grid-template-columns: 1fr 1fr;
  }
}
